In [17]:
#1. Loading the Data and displaying first 5 rows

import pandas as pd
import statistics

df = pd.read_csv('/Users/lasya/Downloads/Crime_Data_from_2020_to_Present.csv')

In [2]:
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

In [6]:
#Column Names
df.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [11]:
#Number of rows and columns 

print("Number of Rows:",len(df))
print("Number of Columns:",len(df.columns))

Number of Rows: 982638
Number of Columns: 28

In [12]:
df.describe

<bound method NDFrame.describe of             DR_NO               Date Rptd                DATE OCC  TIME OCC  \
0       190326475  03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM      2130
1       200106753  02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM      1800
2       200320258  11/11/2020 12:00:00 AM  11/04/2020 12:00:00 AM      1700
3       200907217  05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM      2037
4       220614831  08/18/2022 12:00:00 AM  08/17/2020 12:00:00 AM      1200
...           ...                     ...                     ...       ...
982633  242011172  08/20/2024 12:00:00 AM  08/17/2024 12:00:00 AM      2300
982634  240710284  07/24/2024 12:00:00 AM  07/23/2024 12:00:00 AM      1400
982635  240104953  01/15/2024 12:00:00 AM  01/15/2024 12:00:00 AM       100
982636  240309674  04/24/2024 12:00:00 AM  04/24/2024 12:00:00 AM      1500
982637  240910892  08/13/2024 12:00:00 AM  08/12/2024 12:00:00 AM      2300

        AREA  AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0          7   Wilshire          784         1     510
1          1    Central          182         1     330
2          3  Southwest          356         1     480
3          9   Van Nuys          964         1     343
4          6  Hollywood          666         2     354
...      ...        ...          ...       ...     ...
982633    20    Olympic         2033         1     341
982634     7   Wilshire          788         1     510
982635     1    Central          101         2     745
982636     3  Southwest          358         1     230
982637     9   Van Nuys          914         1     510

                                              Crm Cd Desc  ... Status  \
0                                        VEHICLE - STOLEN  ...     AA
1                                   BURGLARY FROM VEHICLE  ...     IC
2                                           BIKE - STOLEN  ...     IC
3                SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...     IC
4                                       THEFT OF IDENTITY  ...     IC
...                                                   ...  ...    ...
982633  THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...  ...     IC
982634                                   VEHICLE - STOLEN  ...     IC
982635           VANDALISM - MISDEAMEANOR ($399 OR UNDER)  ...     IC
982636     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT  ...     IC
982637                                   VEHICLE - STOLEN  ...     IC

         Status Desc Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0       Adult Arrest    510.0    998.0       NaN      NaN
1        Invest Cont    330.0    998.0       NaN      NaN
2        Invest Cont    480.0      NaN       NaN      NaN
3        Invest Cont    343.0      NaN       NaN      NaN
4        Invest Cont    354.0      NaN       NaN      NaN
...              ...      ...      ...       ...      ...
982633   Invest Cont    341.0      NaN       NaN      NaN
982634   Invest Cont    510.0      NaN       NaN      NaN
982635   Invest Cont    745.0      NaN       NaN      NaN
982636   Invest Cont    230.0      NaN       NaN      NaN
982637   Invest Cont    510.0      NaN       NaN      NaN

                                        LOCATION  \
0        1900 S  LONGWOOD                     AV
1        1000 S  FLOWER                       ST
2        1400 W  37TH                         ST
3       14000    RIVERSIDE                    DR
4                              1900    TRANSIENT
...                                          ...
982633   3700    WILSHIRE                     BL
982634   4000 W  23RD                         ST
982635   1300 W  SUNSET                       BL
982636           FLOWER                       ST
982637   6900    VESPER                       AV

                           Cross Street      LAT       LON
0                                   NaN  34.0375 -118.3506
1                                   NaN  34.0444 -118.2628
2                                   NaN  34.0210 -118.3002
3                                   NaN  34.1576 -118.4387
4                                   NaN  34.0944 -118.3277
...                                 ...      ...       ...
982633                              NaN  34.0617 -118.3066
982634                              NaN  34.0362 -118.3284
982635                              NaN  34.0685 -118.2460
982636  JEFFERSON                    BL  34.0215 -118.2868
982637                              NaN  34.1961 -118.4510

[982638 rows x 28 columns]>

In [24]:
# Minimum, max and median age of victims 
print("Minimum Age of a Victim:", min(df['Vict Age']))

Minimum Age of a Victim: -4

In [25]:
print("Maximum Age of a Victim:", max(df['Vict Age']))

Maximum Age of a Victim: 120

In [26]:
print("Median Age of a Victim:", statistics.median(df['Vict Age']))

Median Age of a Victim: 30.0

In [27]:
df.dtypes

DR_NO               int64
Date Rptd          object
DATE OCC           object
TIME OCC            int64
AREA                int64
AREA NAME          object
Rpt Dist No         int64
Part 1-2            int64
Crm Cd              int64
Crm Cd Desc        object
Mocodes            object
Vict Age            int64
Vict Sex           object
Vict Descent       object
Premis Cd         float64
Premis Desc        object
Weapon Used Cd    float64
Weapon Desc        object
Status             object
Status Desc        object
Crm Cd 1          float64
Crm Cd 2          float64
Crm Cd 3          float64
Crm Cd 4          float64
LOCATION           object
Cross Street       object
LAT               float64
LON               float64
dtype: object

In [37]:
#3. Adding and Modifying Columns 

df['DATE OCC'] = pd.to_datetime(df['DATE OCC'])

In [39]:
df['DayOfWeek'] = df['DATE OCC'].dt.day_name()
print(df)

            DR_NO               Date Rptd   DATE OCC  TIME OCC  AREA  \
0       190326475  03/01/2020 12:00:00 AM 2020-03-01      2130     7
1       200106753  02/09/2020 12:00:00 AM 2020-02-08      1800     1
2       200320258  11/11/2020 12:00:00 AM 2020-11-04      1700     3
3       200907217  05/10/2023 12:00:00 AM 2020-03-10      2037     9
4       220614831  08/18/2022 12:00:00 AM 2020-08-17      1200     6
...           ...                     ...        ...       ...   ...
982633  242011172  08/20/2024 12:00:00 AM 2024-08-17      2300    20
982634  240710284  07/24/2024 12:00:00 AM 2024-07-23      1400     7
982635  240104953  01/15/2024 12:00:00 AM 2024-01-15       100     1
982636  240309674  04/24/2024 12:00:00 AM 2024-04-24      1500     3
982637  240910892  08/13/2024 12:00:00 AM 2024-08-12      2300     9

        AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0        Wilshire          784         1     510
1         Central          182         1     330
2       Southwest          356         1     480
3        Van Nuys          964         1     343
4       Hollywood          666         2     354
...           ...          ...       ...     ...
982633    Olympic         2033         1     341
982634   Wilshire          788         1     510
982635    Central          101         2     745
982636  Southwest          358         1     230
982637   Van Nuys          914         1     510

                                              Crm Cd Desc  ... Crm Cd 1  \
0                                        VEHICLE - STOLEN  ...    510.0
1                                   BURGLARY FROM VEHICLE  ...    330.0
2                                           BIKE - STOLEN  ...    480.0
3                SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...    343.0
4                                       THEFT OF IDENTITY  ...    354.0
...                                                   ...  ...      ...
982633  THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...  ...    341.0
982634                                   VEHICLE - STOLEN  ...    510.0
982635           VANDALISM - MISDEAMEANOR ($399 OR UNDER)  ...    745.0
982636     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT  ...    230.0
982637                                   VEHICLE - STOLEN  ...    510.0

        Crm Cd 2 Crm Cd 3 Crm Cd 4                                  LOCATION  \
0          998.0      NaN      NaN   1900 S  LONGWOOD                     AV
1          998.0      NaN      NaN   1000 S  FLOWER                       ST
2            NaN      NaN      NaN   1400 W  37TH                         ST
3            NaN      NaN      NaN  14000    RIVERSIDE                    DR
4            NaN      NaN      NaN                         1900    TRANSIENT
...          ...      ...      ...                                       ...
982633       NaN      NaN      NaN   3700    WILSHIRE                     BL
982634       NaN      NaN      NaN   4000 W  23RD                         ST
982635       NaN      NaN      NaN   1300 W  SUNSET                       BL
982636       NaN      NaN      NaN           FLOWER                       ST
982637       NaN      NaN      NaN   6900    VESPER                       AV

                           Cross Street      LAT       LON DayofWeek  \
0                                   NaN  34.0375 -118.3506         9
1                                   NaN  34.0444 -118.2628         6
2                                   NaN  34.0210 -118.3002        45
3                                   NaN  34.1576 -118.4387        11
4                                   NaN  34.0944 -118.3277        34
...                                 ...      ...       ...       ...
982633                              NaN  34.0617 -118.3066        33
982634                              NaN  34.0362 -118.3284        30
982635                              NaN  34.0685 -118.2460         3
982636  JEFFERSON                    BL  34.0215 -118.2868        17
982637                              NaN  34.1961 -118.4510        33

        DayOfWeek
0          Sunday
1        Saturday
2       Wednesday
3         Tuesday
4          Monday
...           ...
982633   Saturday
982634    Tuesday
982635     Monday
982636  Wednesday
982637     Monday

[982638 rows x 30 columns]

In [40]:
df = df.drop(columns=['DayofWeek'])

In [41]:
print(df.columns)

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON', 'DayOfWeek'],
      dtype='object')

In [42]:
print(df)

            DR_NO               Date Rptd   DATE OCC  TIME OCC  AREA  \
0       190326475  03/01/2020 12:00:00 AM 2020-03-01      2130     7
1       200106753  02/09/2020 12:00:00 AM 2020-02-08      1800     1
2       200320258  11/11/2020 12:00:00 AM 2020-11-04      1700     3
3       200907217  05/10/2023 12:00:00 AM 2020-03-10      2037     9
4       220614831  08/18/2022 12:00:00 AM 2020-08-17      1200     6
...           ...                     ...        ...       ...   ...
982633  242011172  08/20/2024 12:00:00 AM 2024-08-17      2300    20
982634  240710284  07/24/2024 12:00:00 AM 2024-07-23      1400     7
982635  240104953  01/15/2024 12:00:00 AM 2024-01-15       100     1
982636  240309674  04/24/2024 12:00:00 AM 2024-04-24      1500     3
982637  240910892  08/13/2024 12:00:00 AM 2024-08-12      2300     9

        AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0        Wilshire          784         1     510
1         Central          182         1     330
2       Southwest          356         1     480
3        Van Nuys          964         1     343
4       Hollywood          666         2     354
...           ...          ...       ...     ...
982633    Olympic         2033         1     341
982634   Wilshire          788         1     510
982635    Central          101         2     745
982636  Southwest          358         1     230
982637   Van Nuys          914         1     510

                                              Crm Cd Desc  ...   Status Desc  \
0                                        VEHICLE - STOLEN  ...  Adult Arrest
1                                   BURGLARY FROM VEHICLE  ...   Invest Cont
2                                           BIKE - STOLEN  ...   Invest Cont
3                SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...   Invest Cont
4                                       THEFT OF IDENTITY  ...   Invest Cont
...                                                   ...  ...           ...
982633  THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...  ...   Invest Cont
982634                                   VEHICLE - STOLEN  ...   Invest Cont
982635           VANDALISM - MISDEAMEANOR ($399 OR UNDER)  ...   Invest Cont
982636     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT  ...   Invest Cont
982637                                   VEHICLE - STOLEN  ...   Invest Cont

        Crm Cd 1 Crm Cd 2 Crm Cd 3  Crm Cd 4  \
0          510.0    998.0      NaN       NaN
1          330.0    998.0      NaN       NaN
2          480.0      NaN      NaN       NaN
3          343.0      NaN      NaN       NaN
4          354.0      NaN      NaN       NaN
...          ...      ...      ...       ...
982633     341.0      NaN      NaN       NaN
982634     510.0      NaN      NaN       NaN
982635     745.0      NaN      NaN       NaN
982636     230.0      NaN      NaN       NaN
982637     510.0      NaN      NaN       NaN

                                        LOCATION  \
0        1900 S  LONGWOOD                     AV
1        1000 S  FLOWER                       ST
2        1400 W  37TH                         ST
3       14000    RIVERSIDE                    DR
4                              1900    TRANSIENT
...                                          ...
982633   3700    WILSHIRE                     BL
982634   4000 W  23RD                         ST
982635   1300 W  SUNSET                       BL
982636           FLOWER                       ST
982637   6900    VESPER                       AV

                           Cross Street      LAT       LON  DayOfWeek
0                                   NaN  34.0375 -118.3506     Sunday
1                                   NaN  34.0444 -118.2628   Saturday
2                                   NaN  34.0210 -118.3002  Wednesday
3                                   NaN  34.1576 -118.4387    Tuesday
4                                   NaN  34.0944 -118.3277     Monday
...                                 ...      ...       ...        ...
982633                              NaN  34.0617 -118.3066   Saturday
982634                              NaN  34.0362 -118.3284    Tuesday
982635                              NaN  34.0685 -118.2460     Monday
982636  JEFFERSON                    BL  34.0215 -118.2868  Wednesday
982637                              NaN  34.1961 -118.4510     Monday

[982638 rows x 29 columns]

In [53]:
crimes_by_day = df.groupby('DayOfWeek').size().reset_index(name='CrimeCount')
print(crimes_by_day)

   DayOfWeek  CrimeCount
0     Friday      150192
1     Monday      138516
2   Saturday      144106
3     Sunday      136586
4   Thursday      138622
5    Tuesday      134947
6  Wednesday      139669

In [55]:
sorted_crimes = crimes_by_day.sort_values(by='CrimeCount', ascending=False)

day_with_most_crimes = sorted_crimes.iloc[0]


print(day_with_most_crimes)

DayOfWeek     Friday
CrimeCount    150192
Name: 0, dtype: object

In [62]:
df_filtered = df[df['Crm Cd Desc'] == "THEFT"] 

print(df_filtered)

            DR_NO               Date Rptd   DATE OCC  TIME OCC  AREA  \
0       190326475  03/01/2020 12:00:00 AM 2020-03-01      2130     7
1       200106753  02/09/2020 12:00:00 AM 2020-02-08      1800     1
2       200320258  11/11/2020 12:00:00 AM 2020-11-04      1700     3
3       200907217  05/10/2023 12:00:00 AM 2020-03-10      2037     9
4       220614831  08/18/2022 12:00:00 AM 2020-08-17      1200     6
...           ...                     ...        ...       ...   ...
982633  242011172  08/20/2024 12:00:00 AM 2024-08-17      2300    20
982634  240710284  07/24/2024 12:00:00 AM 2024-07-23      1400     7
982635  240104953  01/15/2024 12:00:00 AM 2024-01-15       100     1
982636  240309674  04/24/2024 12:00:00 AM 2024-04-24      1500     3
982637  240910892  08/13/2024 12:00:00 AM 2024-08-12      2300     9

        AREA NAME  Rpt Dist No  Part 1-2  Crm Cd Crm Cd Desc  ...  \
0        Wilshire          784         1     510       THEFT  ...
1         Central          182         1     330       THEFT  ...
2       Southwest          356         1     480       THEFT  ...
3        Van Nuys          964         1     343       THEFT  ...
4       Hollywood          666         2     354       THEFT  ...
...           ...          ...       ...     ...         ...  ...
982633    Olympic         2033         1     341       THEFT  ...
982634   Wilshire          788         1     510       THEFT  ...
982635    Central          101         2     745       THEFT  ...
982636  Southwest          358         1     230       THEFT  ...
982637   Van Nuys          914         1     510       THEFT  ...

         Status Desc  Crm Cd 1 Crm Cd 2 Crm Cd 3  Crm Cd 4  \
0       Adult Arrest     510.0    998.0      NaN       NaN
1        Invest Cont     330.0    998.0      NaN       NaN
2        Invest Cont     480.0      NaN      NaN       NaN
3        Invest Cont     343.0      NaN      NaN       NaN
4        Invest Cont     354.0      NaN      NaN       NaN
...              ...       ...      ...      ...       ...
982633   Invest Cont     341.0      NaN      NaN       NaN
982634   Invest Cont     510.0      NaN      NaN       NaN
982635   Invest Cont     745.0      NaN      NaN       NaN
982636   Invest Cont     230.0      NaN      NaN       NaN
982637   Invest Cont     510.0      NaN      NaN       NaN

                                        LOCATION  \
0        1900 S  LONGWOOD                     AV
1        1000 S  FLOWER                       ST
2        1400 W  37TH                         ST
3       14000    RIVERSIDE                    DR
4                              1900    TRANSIENT
...                                          ...
982633   3700    WILSHIRE                     BL
982634   4000 W  23RD                         ST
982635   1300 W  SUNSET                       BL
982636           FLOWER                       ST
982637   6900    VESPER                       AV

                           Cross Street      LAT       LON  DayOfWeek
0                                   NaN  34.0375 -118.3506     Sunday
1                                   NaN  34.0444 -118.2628   Saturday
2                                   NaN  34.0210 -118.3002  Wednesday
3                                   NaN  34.1576 -118.4387    Tuesday
4                                   NaN  34.0944 -118.3277     Monday
...                                 ...      ...       ...        ...
982633                              NaN  34.0617 -118.3066   Saturday
982634                              NaN  34.0362 -118.3284    Tuesday
982635                              NaN  34.0685 -118.2460     Monday
982636  JEFFERSON                    BL  34.0215 -118.2868  Wednesday
982637                              NaN  34.1961 -118.4510     Monday

[982638 rows x 29 columns]

In [63]:
df_filtered.to_csv("central_area_thefts.csv", index=False)